body{
font-family: 'Open sans' sans-serif;
background-image: url('../images/text854.png');
background-repeat: no-repeat;
background-size: 100%;
}


.div2{
 
    padding-top: 15%;
   text-align: center;
   


}



